.jumbotron {
  background-color: white;
  text-align: center;
}

.jumbotron.category {
  background-color: white;
  padding: 0;
  padding-top: 48px;
  margin: 0;
}

.space {
  width: 100%;
  margin-top: 3%;
}

.space-medium {
  width: 100%;
  margin-top: 5%;
}

.category .col-sm-2 img {
  cursor: pointer;
}

.responsive.index img {
  cursor: pointer;
}

.dropdown.category {
  position: absolute;
  right: 0px;
  width: 200px;
  padding: 10px;
}

.title {
  padding-left: 1%;
}

.responsive.index {
  margin-left: 2%;
  width: 95%;
}

.dropdown-menu>li>a {
  display: inline-flex;
}

.table td {
  font-weight: bold;
}

.table-number{
  padding-top: 50px !important;
}

.table-number.quantity {
  padding-left: 30px;
}

.table th {
  background-color: #f2f2f2;
}

.book-information {
  display: inline-block;
}

.list-group-item {
  border: none;
  padding-bottom: 20px;
  padding-left: 0;
}

.summary-left {
  float: left;
  width: auto;
}

.summary-right {
  float: right;
  width: auto;
}

.order-summary {
  width: 280px;
}

.summary-prices {
  border-bottom: 1px solid black;
}

.summary-container {
  width: auto;
  border: 1px solid grey;
}

#last-li {
  margin-bottom: 20px;
}

.summary-left h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.total {
  font-size: 20px;
  font-weight: bold;
  width: auto;
  padding-bottom: 30px;
}

.btn-block {
  margin-bottom: 30px;
  height: 50px;
  font-size: 20px;
}

.slick-prev:before, .slick-next:before {
    color:red !important;
}
