.jumbotron {
  background-color: white;
  text-align: center;
}
.jumbotron.category {
  background-color: white;
}
.space {
  width: 100%;
  margin-top: 3%;
}

.category .col-sm-2 {
  cursor:pointer;
}
